/* Write your CSS code here */

.blogItem {
  width: 100%;
  border-bottom: 1px solid #e7e5ea;
  list-style-type: none;
}

.blogDetailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #12022f;
}

.blogPublishedDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}

.blogDescription {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9aa5b1;
}
